/*
 * -------------------------------------------------
 * Container config 
 * -------------------------------------------------
 * This file defines the docker image used for each process in pipeline.nf
 * -------------------------------------------------
 */

 //------------- Read alignment


process {
  withName:Bam2Fastq {
    container = "cmopipeline/samtools:0.0.2"
  }
  withLabel:umi_tools {
    container = "quay.io/biocontainers/umi_tools:1.1.1--py38h0213d0e_1"
  }
  withName:Fastp {
    container = "cmopipeline/fastp:latest" 
  }
  withName:STARalign {
    container = "cmopipeline/arriba-star:0.0.2"
  }
  withName:BowtieFilter {
    container = "cmopipeline/bowtie2:0.0.1"
  }
  withName:RunArriba {
    container = "uhrigs/arriba:2.1.0"
  }
  withName:RunFusionCatcher {
    container = "cmopipeline/fusioncatcher:0.0.1"
  }
  withName:CollectRNAMetrics {
    container = "broadinstitute/picard:2.22.0"
  }
  withName:CollectHSMetrics {
    container = "broadinstitute/picard:2.22.0"
  }
  withName:RunKallisto {
    container = "cmopipeline/kallisto:0.0.1"
  }
  /*
  withName:STAR_BAM_processing {
    container = "cmopipeline/samtools:0.0.1"
  }
  */
  withName:MergeArribaAndFusionCatcher {
    container = "cmopipeline/r-arriba-fusioncatcher-metacaller:0.0.1"
  }
  withName:SampleRunMultiQC {
    container = "ewels/multiqc:1.9"
  }
  withName:AggregateRunMultiQC {
    container = "ewels/multiqc:1.9"
  }
}

