/*
 * -------------------------------------------------
 * Container config 
 * -------------------------------------------------
 * This file defines the docker image used for each process in pipeline.nf
 * -------------------------------------------------
 */

 //------------- Read alignment


process {
  withName:SampleRunMultiQC {
    container = "ewels/multiqc:1.9"
  }
  withName:AggregateRunMultiQC {
    container = "ewels/multiqc:1.9"
  }
}

